<?xml version="1.0"?>
<model>
  <name>diffbot</name>
  <version>1.0</version>
  <sdf version="1.6">diffbot.sdf</sdf>
  <author>
    <name>Kim Dongjo</name>
    <email>your_email@example.com</email>
  </author>
  <description>
    My custom Diffbot model for ROS2 + Gazebo simulation.
  </description>
</model>
